pip
setuptools
wheel
llama-index-core
llama-index-embeddings-huggingface
llama-index-readers-file
pypdf
openai
python-dotenv
pyyaml
pydantic
langgraph
autogen-agentchat
autogen-core
autogen-ext[openai]
